body {
	--color-code: #202330;
	--color-background: #181b1d;
	--color-navbar: #106956;
	--background-navbar: linear-gradient(45deg, #106956, #69c0ad);
	--color-sidebar: #24292c;
	--color-text: #c9d1d4;
	--color-selected: #ffffff;
	--color-a: #69c0ad;
	--color-a-hover: #b8f3e6;
	--color-a-visited: #5d9e90;
	color: var(--color-text);
}

/* .wy-nav-top {
	background-color: #2e2e2e;
} */

.wy-nav-content {
	background: var(--color-background);
}

.wy-nav-content-wrap {
	background: var(--color-background);
}

.wy-side-nav-search {
	background: var(--background-navbar);
}

.wy-side-scroll {
	background: var(--color-sidebar);
}

.wy-menu-vertical {
	background: var(--background-navbar);
	color: var(--color-text) !important;
}

.wy-menu-vertical li.current a {
	background: var(--color-selected);
}

code {
	background: var(--color-code) !important;
	color: var(--color-text) !important;
	border: 1px solid var(--color-navbar) !important;
	border-radius: 5px;
}

a:not(.wy-menu-vertical a):not(.icon) {
	color: var(--color-a);
}

a:visited:not(.wy-menu-vertical a):not(.icon) {
	color: var(--color-a-visited);
}

a:hover {
	color: var(--color-a-hover);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-sidebar);
}

::-webkit-scrollbar-thumb {
	background: var(--color-navbar);
	border-radius: 10px;
}
